@page "/server-config"

@attribute [Authorize]
@inherits AuthComponentBase


@if (User?.IsServerAdmin == true)
{
    <AlertBanner Message="@_alertMessage" />

    <h3 class="mt-3">服务配置</h3>

    <div class="row">
        <div class="col-md-8">
            <div class="mb-4" style="display:flex; justify-content: space-evenly">
                <div class="d-inline-block text-center mr-2">
                    <label>设备在线数</label>
                    <br />
                    <span class="badge badge-primary p-2">@AgentHub.ServiceConnections.Count</span>
                </div>
             
                <div class="d-inline-block text-center mr-2">
                    <label>设备已过时</label>
                    <br />

                    <button class="btn btn-sm btn-secondary" @onclick="ShowOutdatedDevices">
                        <i class="oi oi-question-mark"></i>
                    </button>
                    <span class="badge badge-primary p-2 mx-2">@(OutdatedDevices?.Count() ?? 0)</span>
                    <button class="btn btn-secondary btn-sm" type="button" title="Update All" @onclick="UpdateAllDevices">
                        <span class="oi oi-reload"></span>
                    </button>
                </div>

                <div class="d-inline-block text-center mr-2">
                    <label>设备总数量</label>
                    <br />
                    <span class="badge badge-primary p-2">@TotalDevices</span>
                </div>
                <div class="d-inline-block text-center mr-2">
                    <label>活跃用户</label>
                    <br />
                    <span class="badge badge-primary p-2">@CircuitManager.Connections.Count</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="mt3">服务器管理员</h3>

            <div class="form-group">
                <label class="control-label">服务器管理员列表</label>
                <br />

                <div class="small">
                    <input class="align-middle mr-1" type="checkbox" @bind="_showMyOrgAdminsOnly" />
                    <span class="align-middle">仅显示我的组织</span>
                </div>
                <div class="small">
                    <input class="align-middle mr-1" type="checkbox" @bind="_showAdminsOnly" />
                    <span class="align-middle">仅显示当前管理员</span>
                </div>

                <br />
                <div class="list-box">
                    @foreach (var user in UserList)
                    {
                        <div @key="user.Id">
                            <input type="checkbox" disabled="@(user.Id == User.Id)" checked="@user.IsServerAdmin" @onchange="ev => SetIsServerAdmin(ev, user)" />
                            <span class="ml-2 align-top" style="line-height:1.3em">@user.UserName</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <EditForm Model="Input" OnValidSubmit="HandleValidSubmit" autocomplete="off">
                <DataAnnotationsValidator />

                <h3 class="mt-3">应用设置</h3>

                <ValidationSummary Model="Input" />


                <div class="form-group">
                    <label>允许api登录</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.AllowApiLogin" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.AllowApiLogin" />
                </div>
                <div class="form-group">
                    <label class="control-label">禁用设备列表</label>
                    <br />
                    <select size="4" class="form-control" @bind="_bannedDeviceSelected">
                        @foreach (var bannedDevice in Input.BannedDevices)
                        {
                            <option @key="bannedDevice" value="@bannedDevice">@bannedDevice</option>
                        }
                    </select>

                    <div class="text-right mb-2 mt-1">
                        <button type="button" class="btn btn-secondary" @onclick="RemoveBannedDevice">Remove</button>
                    </div>
                    <div class="input-group">
                        <input placeholder="添加禁止的设备 ID、名称或 IP"
                               class="form-control" autocomplete="off"
                               @bind="_bannedDeviceToAdd"
                               @bind:event="oninput"
                               @onkeydown="HandleBannedDeviceKeyDown" />
                        <button type="button" class="btn btn-secondary" @onclick="AddBannedDevice">Add</button>
                    </div>
                    <ValidationMessage For="() => Input.BannedDevices" />
                </div>
                <div class="form-group">
                    <label class="control-label">数据保留天数</label>
                    <br />
                    <InputNumber @bind-Value="Input.DataRetentionInDays" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.DataRetentionInDays" />
                </div>
                <div class="form-group">
                    <label class="control-label">数据库</label>
                    <br />
                    <select class="form-control" @bind="Input.DBProvider">
                        @foreach (var provider in Enum.GetValues<DbProvider>())
                        {
                            <option @key="provider" value="@provider">@provider</option>
                        }
                    </select>
                    <br />
                    <ValidationMessage For="() => Input.DBProvider" />
                </div>
                <div class="form-group">
                    <label>启用Windows事件日志</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.EnableWindowsEventLog" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.EnableWindowsEventLog" />
                </div>
                <div class="form-group">
                    <label>无人值守</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.EnforceAttendedAccess" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.EnforceAttendedAccess" />
                </div>
                <div class="form-group">
                    <label class="control-label">代理</label>
                    <br />
                    <select class="form-control" @bind="_knownProxySelected" size="4">
                        @foreach (var proxy in Input.KnownProxies)
                        {
                            <option @key="proxy" value="@proxy">@proxy</option>
                        }
                    </select>
                    <div class="text-right mb-2 mt-1">
                        <button type="button" class="btn btn-secondary" @onclick="RemoveKnownProxy">Remove</button>
                    </div>
                    <div class="input-group">
                        <input @bind="_knownProxyToAdd"
                               @bind:event="oninput"
                               placeholder="添加代理"
                               class="form-control"
                               autocomplete="off"
                               @onkeydown="HandleKnownProxyKeyDown" />

                        <button type="button" class="btn btn-secondary" @onclick="AddKnownProxy">Add</button>
                    </div>
                    <ValidationMessage For="() => Input.KnownProxies" />
                </div>
                <div class="form-group">
                    <label class="control-label">最大组织数量</label>
                    <br />
                    <InputNumber @bind-Value="Input.MaxOrganizationCount" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.MaxOrganizationCount" />
                </div>
                <div class="form-group">
                    <label class="control-label">最大并发数</label>
                    <br />
                    <InputNumber @bind-Value="Input.MaxConcurrentUpdates" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.MaxConcurrentUpdates" />
                </div>
                <div class="form-group">
                    <label class="control-label">每日消息</label>
                    <br />
                    <InputText @bind-Value="Input.MessageOfTheDay" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.MessageOfTheDay" />
                </div>
                <div class="form-group">
                    <label>重定向至 HTTPS</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.RedirectToHttps" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RedirectToHttps" />
                </div>
                <div class="form-group">
                    <label>远程控制通知用户</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.RemoteControlNotifyUser" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RemoteControlNotifyUser" />
                </div>
                <div class="form-group">
                    <label>要求在远程控制页面上进行身份验证</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.RemoteControlRequiresAuthentication" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RemoteControlRequiresAuthentication" />
                </div>
                <div class="form-group">
                    <label class="control-label">Remote Control Session Limit</label>
                    <br />
                    <InputNumber @bind-Value="Input.RemoteControlSessionLimit" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RemoteControlSessionLimit" />
                </div>
                <div class="form-group">
                    <label>要求双重认证</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.Require2FA" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.Require2FA" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP名称</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpDisplayName" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpDisplayName" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP邮箱</label>
                    <br />
                    <InputText type="email" @bind-Value="Input.SmtpEmail" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpEmail" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP 主机</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpHost" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpHost" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP 端口</label>
                    <br />
                    <InputNumber @bind-Value="Input.SmtpPort" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpPort" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP 检查证书吊销</label>
                    <div class="small text-muted">
                        有时候需要证书禁用此功能。
                    </div>
                    <br />
                    <InputCheckbox @bind-Value="Input.SmtpCheckCertificateRevocation" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpCheckCertificateRevocation" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP 本地域</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpLocalDomain" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpLocalDomain" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP 用户名</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpUserName" class="form-control" autocomplete="new-password" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpUserName" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP 密码</label>
                    <br />
                    <InputText type="password" @bind-Value="Input.SmtpPassword" class="form-control" autocomplete="new-password" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpPassword" />
                </div>
                <div class="form-group text-right">
                    <button id="sendTestEmailButton" type="button" class="btn btn-secondary" @onclick="SaveAndTestSmtpSettings">Test</button>
                </div>
                <div class="form-group">
                    <label class="control-label">主题</label>
                    <br />
                    <select class="form-control" @bind="Input.Theme">
                        @foreach (var theme in Enum.GetValues<Theme>())
                        {
                            <option @key="theme" value="@theme">@theme</option>
                        }

                    </select>
                    <br />
                    <ValidationMessage For="() => Input.Theme" />
                </div>
                <div class="form-group">
                    <label class="control-label">Trusted CORS Origins</label>
                    <br />
                    <select class="form-control" @bind="_trustedCorsOriginSelected" size="4">
                        @foreach (var origin in Input.TrustedCorsOrigins)
                        {
                            <option @key="origin" value="@origin">@origin</option>
                        }
                    </select>

                    <div class="text-right mb-2 mt-1">
                        <button type="button" class="btn btn-secondary" @onclick="RemoveTrustedCorsOrigin">Remove</button>
                    </div>
                    <div class="input-group">
                        <input placeholder="添加CORS Url"
                               class="form-control"
                               autocomplete="off"
                               @bind="_trustedCorsOriginToAdd"
                               @bind:event="oninput"
                               @onkeydown="HandleTrustedCorsKeyDown" />

                        <button id="trustedCorsAddButton" type="button" class="btn btn-secondary" @onclick="AddTrustedCorsOrigin">Add</button>
                    </div>
                    <ValidationMessage For="() => Input.TrustedCorsOrigins" />
                </div>
                <div class="form-group">
                    <label>Use HSTS</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.UseHsts" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.UseHsts" />
                </div>

                <div class="form-group">
                    <label>Use WebRTC</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.UseWebRtc" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.UseWebRtc" />
                </div>

                <div class="form-group">
                    <label>ICE Servers</label>
                    <br />
                    <span class="text-muted">Must be edited in appsettings.json.</span>
                </div>

                <h4>数据库链接字符串</h4>

                <div class="form-group">
                    <label class="control-label">PostgreSQL</label>
                    <br />
                    <InputText @bind-Value="ConnectionStrings.PostgreSQL" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => ConnectionStrings.PostgreSQL" />
                </div>

                <div class="form-group">
                    <label class="control-label">SQLite</label>
                    <br />
                    <InputText @bind-Value="ConnectionStrings.SQLite" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => ConnectionStrings.SQLite" />
                </div>


                <div class="form-group">
                    <label class="control-label">SQL Server</label>
                    <br />
                    <InputText @bind-Value="ConnectionStrings.SQLServer" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => ConnectionStrings.SQLServer" />
                </div>


                <div class="form-group mt-3">
                    <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
                </div>
            </EditForm>
        </div>
    </div>

}
else
{
    <h5 class="text-muted">Only organization administrators can view this page.</h5>
}